@import "palette.less";
@import "navbar.less";

/* up button */
#up {
  position: fixed;
  bottom:10px;
  right:10px;
  z-index:99;
}

/* text to left in btns*/
.btn-block {
  text-align: left;
}

/* row fix */
.col-xs-12 {
  margin-bottom: 10px;
}
/* Header */
@media (min-width: 992px) {
  body {
    padding-top: 50px;
  }
}
@media (max-width: 991px) {
  body {
    padding-top: 100px;
  }
}
@media (max-width: 767px) {
  body {
    padding-top: 50px;
  }
}
#top {
  padding-top:10px;
  padding-bottom: 10px;
  background-color:@darkPrimaryColor;
  color:white;
}
@media (min-width: 768px) {
  #top {
    height:200px;
  }
  #top .container {
    height:100%;
    .row {
      height:100%;
      .col-sm-4 {
        height:100%;
      }
      .col-sm-8 {
        height:100%;
        display: table;
      }
    }
  }
}
.header-title {
  font-size:2vw;
  color:white;
  text-transform:uppercase;
  text-align: right;
  display: table-cell;
  vertical-align: bottom;
}
@media (max-width: 768px) {
  #top > div > div > div.col-sm-4 > img {
    padding:20px;
  }
  .header-title {
    text-align: center;
    font-size:3vw;
    display:block;
  }
}
/* better typhography */
p, figcaption, .click-to-tweet-text, td {
  font-family: 'Helvetica Neue';
  font-size: 20px;
	font-size: 1.8rem;
	letter-spacing: -.01em;
  font-style: normal;
	font-weight: 400;
  line-height: 1.4;
  word-wrap: normal;
}

/* color to inlines */
em {
  color: @accentColor;
}
strong {
  color: @primaryColor;
}

/* Footer */
footer {
  background-color: #212121;
  color: #f0f0f0 !important;
  width: 100%;
  padding-top: 10px;
  margin-top: 20px;
}


/* Share Buttons */
.share-buttons {
  position: fixed;
  width: 5%;
  right: 0px;
  top: 40%;
}
.share-buttons a {
  width: 100%;
  float: right;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}
.share-buttons .facebook {
  background-color: #3b5998;
}
.share-buttons .twitter {
  background-color: #1da1f2;
}
.share-buttons .google-plus {
  background-color: #dd4b39;
}
.share-buttons .whatsapp {
  background-color: #43d854;
}
.share-buttons a i {
  color:white;
  padding:2px;
  font-size: 14px;
  font-size: 4rem;
}
