@import "palette.less";
@import "navbar.less";
@import "share-buttons.less";

/* fitting bg-colos btns */
.btn-primary {
  background-color: @darkPrimaryColor;
}
.btn-primary:hover {
  background-color: #83b3dc;
}

/* pdf-icon color */
.fa-file-pdf-o {
  color:red;
}
/* up button */
#up {
  position: fixed;
  bottom:60px;
  right:10px;
  z-index:99;
}
@media (min-width: 768px) {
  #up {
    bottom:10px;
  }
}

/* navbar mobile extensions */
.nav>li {
  text-align: right;
}
@media (max-width: 767px) {
  .nav>li a {
    font-size: 26px;
  }
}
/* text to left in btns*/
.btn-block {
  text-align: left;
}

/* row fix */
.col-xs-12 {
  margin-bottom: 10px;
}
/* Header */
@media (min-width: 992px) {
  body {
    padding-top: 50px;
  }
}
@media (max-width: 991px) {
  body {
    padding-top: 100px;
  }
}
@media (max-width: 767px) {
  body {
    padding-top: 50px;
  }
}
#top {
  padding-top:10px;
  padding-bottom: 10px;
  background-color:@darkPrimaryColor;
  color:white;
}
@media (min-width: 768px) {
  #top {
    height:130px;
  }
  #top .container {
    height:100%;
    .row {
      height:100%;
      .col-sm-4 {
        height:100%;
      }
      .col-sm-8 {
        height:100%;
        display: table;
      }
    }
  }
}
.header-title {
  font-size:1.8vw;
  color:white;
  font-family: 'Marcellus SC', serif;
  text-transform:uppercase;
  text-align: right;
  display: table-cell;
  vertical-align: bottom;
}
@media (max-width: 768px) {
  #top > div > div > div.col-sm-4 > img {
    padding:20px;
  }
  .header-title {
    text-align: center;
    font-size:3vw;
    display:block;
  }
}

/* Header-Image */
#desktop {display:none;}
#mobile {display:block;}
@media (min-width: 768px) {
  #desktop {display:block;}
  #mobile {display:none;}
}

/* better typhography */
body {
  font-family: 'Source Sans Pro';
}
p, figcaption, .click-to-tweet-text, td, .btn {
  font-size: 20px;
	font-size: 1.8rem;
	letter-spacing: -.01em;
  font-style: normal;
	font-weight: 400;
  line-height: 1.4;
  word-wrap: normal;
}

/* color to inlines */
em {
  color: @accentColor;
}
strong {
  color: @primaryColor;
}

/* Footer */
footer {
  background-color: #212121;
  color: #f0f0f0 !important;
  width: 100%;
  padding-top: 10px;
  margin-top: 20px;
}
