p With this website, the PRIX JEUNESSE Foundation wants to provide an overview on global scientific studies conducted with/through its partner institute, the <a href="http://www.br-online.de/jugend/izi/deutsch/home.htm" target="_blank">IZI</a>.
.row
  .col-xs-12
    a.btn.btn-primary.btn-lg.btn-block(href="#haveandshowemotions") Have and Show Emotions (2014)
  .col-xs-12
    a.btn.btn-primary.btn-lg.btn-block(href="#genderrepresentation") Gender Representation (2007)
