p With this website, the PRIX JEUNESSE Foundation wants to provide an overview on scientific studies conducted with/through its partner institute, the <a href="http://www.br-online.de/jugend/izi/deutsch/home.htm" target="_blank">IZI</a>.
ul
  li
    a(href="#haveandshowemotions") CHILDREN’S TV WORLDWIDE: Have and Show Emotions (2014)
  li
    a(href="#genderrepresentation") CHILDREN’S TV WORLDWIDE: Gender Representation (2007)
