p On the occasion of the 10th anniversary of the “Children’s TV Worldwide” study on gender representation, a “condensed second version” of the quantitative content analysis was conducted  in 2017 by the International Central Institute for Youth and Educational Television (IZI). Ten countries took part in the study and summarized the findings in comparison to the results of 2007. In each country a sample of children’s TV programmes was recorded representing the most-watched children’s channels or programme blocks in the target audience of under 12-year-olds. On average, 196 hours of broadcasting were recorded in each participating country representing the most-watched children’s TV programming in the respective country. The recording period was between September and November 2017. The complete sample comprises 1,569 hours of linear children’s TV programming with 9,795 single programme elements.
p Please find below a summary of the results in the country reports of the participating countries of this study:
p
  a.btn.btn-default.btn-lg(href="/pdfs/Goetz_et_al_Televizion.pdf" target="_blank" title="Open PDF")
    i.fa.fa-file-pdf-o(aria-hidden="true")
    span  TELEVIZION Article

h2 Reports on individual countries
.row
  each study in genderrepresentation2
    .col-lg-2.col-md-3.col-sm-4.col-xs-12
      a.btn.btn-default.btn-lg.btn-block(href="/pdfs/"+study.file target="_blank" title="Open PDF")
        span.flag-icon(class="flag-icon-"+study.flag)
        span= " "+study.name
