p 5,190 children and preteens from 17 countries were surveyed with the aim of getting a better understanding of how emotions are experienced and shown in everyday life and while watching TV. The research interest was on the emotions joy, fear, anger, sadness, pride and envy.
p Find a summary of the results in a research report, as well as reports on the individual countries that have participated in this study.
p
  a.btn.btn-default.btn-lg(href="/pdfs/Research Report_SUMMARY_Have and Show_Emotions_Worldwide.pdf" target="_blank" title="Open PDF")
    i.fa.fa-file-pdf-o(aria-hidden="true")
    span  Research Report
h2 Reports on individual countries
.row
  each study in haveandshowemotions
    .col-lg-2.col-md-3.col-sm-4.col-xs-12
      a.btn.btn-default.btn-lg.btn-block(href="/pdfs/"+study.file target="_blank" title="Open PDF")
        span.flag-icon(class="flag-icon-"+study.flag)
        span= " "+study.name
